<h1>All Games</h1>
<hr class="solid">

<% @games.each do |game| %>
    <h3><%= game.name %></h3>
    <p>Entry created: <%= game.created_at %><p>
    <ul>
        <li><p>Developed By: <%= game.dev.name %></p></li>
        <li><p>Number of Players: <%= game.players %></p></li>
        <li><p>Has Online Play: <%= game.online? %></p></li>
    </ul>
    <hr class="solid">
<% end %>