<p><a href="/">Home</a> — <a href="/devs">Developer Index</a> — <a href="/games">Games Index</a></p>
<hr class="solid">

<h1>Game Index</h1>
<p>This page shows all individual Games in the tracker database.</p>
<br>

<% @games.each do |game| %>
    <h3><%= game.name %></h3>
    <p>Entry created: <%= game.created_at %><p>
    <ul>
        <li><p>Developed By: <%= game.dev.name %></p></li>
        <li><p>Number of Players: <%= game.players %></p></li>
        <li><p>Has Online Play: <%= game.online? %></p></li>
    </ul>
    <h4><a href=<%= request.original_url + "/#{game.id}/edit" %>>Edit <%= game.name %></a></h4>
    <br>
<% end %>