<p><a href="/">Home</a> — <a href="/devs">Developer Index</a> — <a href="/games">Games Index</a></p>
<hr class="solid">

<h1><%= @game.name %></h1>
<h2>Developed by <%= @game.dev.name %></h2>
    <ul>
        <li><h3>Number of Players: <%= @game.players %></h3></li>
        <li><h3>Has Online Features: <%= @game.online? %></h3></li>
    </ul>
    <h4><a href=<%= "#{@game.id}/edit" %> title="Edit Game">Edit <%= @game.name %></a></h4>
